@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}





/* nav style */


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1224px;
    margin: 0 auto;
    margin-top: 50px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li{
    margin-left: 48px;
}

nav li a{
    color: #131313;
    opacity: 70%;
    text-decoration: none;
}

#Coin{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(19, 19, 19, 0.1);
    padding: 16px 20px;
    border-radius: 12px;
}

#Coin > p{
    margin-right: 10px;
}

#Coin i{
    color: #FDD835;
}

/* header section */

.container{
    max-width: 1320px;
    margin: 0 auto;
}

.banner{
    background-image: url(/assets/bg-shadow.png);
    background-color: #131313;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 64px 175px;
    margin-top: 24px;
    border-radius: 24px;
}

.content{
    text-align: center;
}

.content >img{
    margin-bottom: 24px;
}

.content >h3{
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
}

.content >p{
    color: #ffffff;
    font-size: 24px;
    margin-top: 16px;
    font-weight:500;
}

.banner-btn{
    margin-top: 32px;
    padding: 14px 20px;
    background-color: #E7FE29;
    border: 8px solid #131313;
    border-radius: 12px;
    outline: 1px solid #E7FE29;
    cursor: pointer;
}


/* main section */

.main-section > .section-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


main{
    margin-top: 88px;
}

.btn-2{
    padding: 14px 30px;
    border: none;
    color: rgba(19, 19, 19, 0.6);
    cursor: pointer;
    
}

.btn-container{
    display: flex;
    border: 1px solid rgba(19, 19, 19, 0.1);
    border-radius: 10%; 
    
}

.btn{
    background-color: #E7FE29;
    padding: 14px 30px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.section-header > ul li{
    list-style: none;
    
}

.section-header >ul{
    
}

.section-header >h3{
    font-size: 28px;
    font-weight: bold;
}

/* main-card section */


.section-main{
    margin-top: 32px;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    gap: 24px;
}

.card{
    width: 418px;
    padding: 24px;
    border: 1px solid rgba(19, 19, 19, 0.1);
    border-radius: 16px;
}

.card-content{
    margin-top: 24px;
}

.card >img{
    border-radius: 16px;
}

.name{
    display: flex;
    align-items: center;
}

.name >h4{
    font-size: 20px;
    font-weight:500;
    margin-left: 16px;
}


.position{
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
}

.flag{
    display: flex;
    align-items: center;
}

.flag >p{
    margin-left: 12px;
    opacity: 50%;
}

.flag >i{
    opacity: 50%;
}

.name >i{
    color: rgba(19, 19, 19, 0.8);
}

.position >p{
    padding: 9px 16px;
    background-color: rgba(19, 19, 19, 0.05);
    border-radius: 8px;
}

.details >h4{
    font-weight: bold;
    margin-bottom: 16px;
}

.hand{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.hand >h3{
    font-weight: 600;
    font-size: 16px;
}

.hand >p{
    color: rgba(19, 19, 19, 0.7);
}

.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price >h4{
    font-weight: 600;
}

.price >button{
    padding: 9px 16px;
    border: 1px solid rgba(19, 19, 19, 0.1);
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
}