@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* nav style */


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1224px;
    margin: 0 auto;
    margin-top: 50px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li{
    margin-left: 48px;
}

nav li a{
    color: #131313;
    opacity: 70%;
    text-decoration: none;
}

#Coin{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(19, 19, 19, 0.1);
    padding: 16px 20px;
    border-radius: 12px;
}

#Coin > p{
    margin-right: 10px;
}

#Coin i{
    color: #FDD835;
}

/* header section */

.container{
    max-width: 1224px;
    margin: 0 auto;
}

.banner{
    background-image: url(/assets/bg-shadow.png);
    background-color: #131313;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 64px 175px;
    margin-top: 24px;
    border-radius: 24px;
}

.content{
    text-align: center;
}

.content >img{
    margin-bottom: 24px;
}

.content >h3{
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
}

.content >p{
    color: #ffffff;
    font-size: 24px;
    margin-top: 16px;
    font-weight:500;
}

.btn{
    margin-top: 32px;
    padding: 14px 20px;
    background-color: #E7FE29;
    border: 8px solid #131313;
    border-radius: 12px;
    outline: 1px solid #E7FE29;
}

